* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

#left h1 {
    color: #1877f2;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: left;
}

#left p {
    font-size: 24px;
    width: 60%;
}

#right {
    width: 400px;
}

#right form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#right form input {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
}

#right .form-input {
    color: #1d2129;
    border: 1px solid #dddfe2;
}

#right input[type="submit"] {
    background-color: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-weight:  bolder;
}

#right input[type="submit"]:hover {
    background-color: #1974D2;
    border: 1px solid #1974D2;
}

#right form a {
    text-align: center;
    text-decoration: none;
    color: #1877f2;
    margin-bottom: 14px;
}

#right form a:hover {
    text-decoration: underline
}

#right hr {
    border: 0.3px solid #dddfe2;
    margin-bottom: 15px;
}

#right button {
    background-color: #42b72a;
    border: 1px solid #42b72a;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    width: max-content;
    margin: 0 auto;
}

#right button:hover {
    background-color: #6aa84f;
    border: 1px solid #6aa84f;
}

#right p {
    font-size: 14px;
    text-align: center;
}

#right p a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

#right p a:hover {
    text-decoration: underline;
}

@media screen and (max-width:700px) {
    main {
        flex-direction: column;
    }
    
}